h2 {
  margin: 0;
}

.movie, .tv, .person {
  color: #000;
}

.svg_filter {
  display: none;
}

div.dark_bg {
  background-color: rgba(var(--tmdbDarkBlue), 1);
}

div.white_bg {
  background-color: #fff;
}

header {
  background-color: rgba(var(--tmdbDarkBlue), 1);
}

header a {
  color: rgba(var(--tmdbLightBlue), 1);
}

header div.sub_media div.left {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

header div.sub_media div.left div {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  text-transform: uppercase;
}

header div.sub_media div.left div img {
  display: block;
  padding-top: 2px;
}

header div.sub_media div.left p {
  margin: 0;
  padding: 0;
}

header div.sub_media div.left p.border {
  border-left: 1px solid #fff;
  padding: 2px 0 2px 24px;
  margin-left: 24px;
}

header div.sub_media div.left p.back a {
  color: #fff;
  display: inline-flex;
  align-items: center;
  align-content: center;
}

header div.sub_media div.left p.back a img {
  margin-right: 8px;
}

section.welcome {
  background-color: rgba(var(--tmdbDarkBlue), 1);
  width: 100%;
  height: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

section.welcome div.fanout_pipes {
  width: 100%;
  height: 100%;
}

section.welcome div.fanout {
  width: 100%;
  height: 100%;
  background-image: url('bible/bible_fanout-78abdeea01711cb0d9415c0bdd65438ef17c6093033fd040b884e7f417064ae5.html');
  background-position: center -120px;
  background-repeat: no-repeat;
}

section.welcome div.fanout div.gradient {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: radial-gradient(circle 180px at center 350px, rgba(255, 255, 255, 0.14) 0%, rgba(255, 255, 255, 0) 100%);
}

section.welcome div.fanout div.bible {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url('bible/bible-b1fb61ee6c075f5b822279e291ec40fa02e00fc0d2513a518752e11114ebeaec.svg');
  background-position: calc(50% - 4px) 324px;
  background-repeat: no-repeat;
  background-size: 141px 55px;
  align-items: flex-start;
  padding-top: 50px;
}

section.welcome div {
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

section.welcome h2 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

section.welcome h2 span {
  font-size: 50px;
}

section.welcome form {
  display: block;
  width: 100%;
  margin-top: 40px;
  box-sizing: border-box;
}

section.welcome form input {
  box-sizing: border-box;
  padding: 18px;
  outline: none;
  font-size: 24px;
  font-style: italic;
  color: #9B9B9B;
  border-radius: 12px;
  border: 1px solid #E9E8E8;
  width: 100%;
}

main div.content {
  max-width: 1300px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-bottom: 1px solid #E9E8E8;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

div.content.pad {
  padding-top: 40px;
  padding-bottom: 40px;
}

main div.content_wrapper {
  max-width: 1300px;
  width: 100%;
  padding: 0 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

section.wide_bibles div.blocks {
  margin-top: 0;
}

section.tall_bibles {
  width: 1000px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

section.tall_bibles div.bible {
  background-color: rgba(var(--tmdbDarkBlue), 1);
  background-size: cover;
  transition: all .3s;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

section.tall_bibles div.bible {
  width: 235px;
  height: 500px;
}

section.tall_bibles div.bible:hover {
  transform: scale(1.06);
  box-shadow: 0 20px 40px 8px rgba(0, 0, 0, 0.6);
}

section.tall_bibles div.bible.movie {
  background-image: url('bible/movie_bible-27a4580f93015e042e0e82f2ffe6667791286d7dc1c9eed92cd413416b2993ef.html');
}

@media only screen and (min-resolution: 2dppx) {
  section.tall_bibles div.bible.movie {
    background-image: url('bible/movie_bible%402x-872228b518d914cd468f43b94d4b0b7e7745592ff4746fad129356b7e7d5c5a0.html');
  }
}

section.tall_bibles div.bible.tv {
  background-image: url('bible/tv_bible-cab6859d914214807491c6e6aaede305d2e9c27305dfae5e69d91d3d80387198.html');
}

@media only screen and (min-resolution: 2dppx) {
  section.tall_bibles div.bible.tv {
    background-image: url('bible/tv_bible%402x-2a196316bd04465177ea6a1c3bb7fdee2bea103f78d75d4fef216854f0c13f4c.html');
  }
}

section.tall_bibles div.bible.people {
  background-image: url('bible/people_bible-1aa33754fad2807dfddb01edae72dc706090ecddc71efd7c3dfa5dc3aedd09a2.html');
}

@media only screen and (min-resolution: 2dppx) {
  section.tall_bibles div.bible.people {
    background-image: url('bible/people_bible%402x-20229789383a59c8f3acff3b54c16a1abb5608eb56f11c4af2305b78866c33b0.html');
  }
}

section.tall_bibles div.bible.collection {
  background-image: url('bible/collection_bible-0e8b94709668644eb7a3944301e74fb01a77c08619f79b1211b9880f9b2e5973.html');
}

@media only screen and (min-resolution: 2dppx) {
  section.tall_bibles div.bible.collection {
    background-image: url('bible/collection_bible%402x-db66a36a3b12501ab67a995e731dbb76c5316501293abc4cf1dce6eb2ece200a.html');
  }
}

section.tall_bibles div.bible p {
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 28px;
  text-transform: uppercase;
  margin: 0;
}

section.tall_bibles div.bible div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 380px;
}

section.tall_bibles div.bible span {
  width: 50px;
  height: 3px;
  display: block;
  border-radius: 3px;
  margin: 8px 0;
}

section.tall_bibles div.bible.movie span {
  background-color: #F82251;
}

section.tall_bibles div.bible.tv span {
  background-color: #865BFD;
}

section.tall_bibles div.bible.people span {
  background-color: #0084EA;
}

section.tall_bibles div.bible.collection span {
  background-color: #E08B00;
}

section.featured {
  width: 1000px;
  padding-top: 50px;
}

section.featured h2 {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 16px;
}

section.featured ul {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

section.featured ul li {
  display: block;
  width: calc(50% - 12px);
  box-sizing: border-box;
  border-bottom: 1px solid #D8D8D8;
  padding: 16px 0;
}

section.featured ul li:nth-child(odd) {
  margin-right: 12px;
}

section.featured ul li:nth-child(even) {
  margin-left: 12px;
}

section.featured ul li span {
  display: inline-flex;
  justify-content: center;
  padding: 3px 6px;
  margin-right: 16px;
  background-color: #01D277;
  color: #fff;
  font-size: 0.9em;
  font-weight: 600;
  min-width: 100px;
  text-transform: uppercase;
}

section.featured ul li.movie span {
  background-color: #F82251;
}

section.featured ul li.tv span {
  background-color: #865BFD;
}

section.featured ul li.people span {
  background-color: #0084EA;
}

section.featured ul li.collection span {
  background-color: #F5A623;
}

section.header {
  width: 100%;
  height: 153px;
  background-color: rgba(var(--tmdbDarkBlue), 1)
}

section.header div.gradient {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle 900px at 25% 50%, rgba(3,29,51, 0.9) 0%, rgba(var(--tmdbDarkBlue), 1) 70%);
  display: flex;
  justify-content: center;
}

section.header div.gradient.movie {
  background-image: radial-gradient(circle 900px at 25% 50%, rgba(48, 23, 42, 0.9) 0%, rgba(var(--tmdbDarkBlue), 1) 70%);
}

section.header div.gradient.tv {
  background-image: radial-gradient(circle 900px at 25% 50%, rgba(32, 40, 74, 0.9) 0%, rgba(var(--tmdbDarkBlue), 1) 70%);
}

section.header div.gradient.people {
  background-image: radial-gradient(circle 900px at 25% 50%, rgba(7, 46, 70, 0.9) 0%, rgba(var(--tmdbDarkBlue), 1) 70%);
}

section.header div.gradient.collection {
  background-image: radial-gradient(circle 900px at 25% 50%, rgba(47, 51, 29, 0.9) 0%, rgba(var(--tmdbDarkBlue), 1) 70%);
}

section.header div.inner_content {
  max-width: 1300px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  padding-left: 40px;
  padding-right: 40px;
}

section.header div.inner_content > div {
  width: 1414px;
  height: 300px;
  position: absolute;
  top: -120px;
  left: -140px;
  z-index: 0;
}

section.header div.inner_content > div svg path {
  fill: #01D277;
}

section.header div.movie div.inner_content > div svg path {
  fill: #F82251;
}

section.header div.tv div.inner_content > div svg path {
  fill: #865BFD;
}

section.header div.people div.inner_content > div svg path {
  fill: #0084EA;
}

section.header div.collection div.inner_content > div svg path {
  fill: #F5A623;
}

section.header div.inner_content h2 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  z-index: 1;
  position: relative;
}

section.search {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #dedede;
}

section.search div.search {
  display: flex;
  width: 100%;
}

section.search form {
  max-width: 1300px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

div.magnifying_glass {
  background-image: url('glyphicons/basic/glyphicons-basic-28-search-3992eb97b2b749f09793f9653407c499aa896d99535cb35cc66682d26a49df13.html');
  background-position: left center;
  background-size: 20px;
  background-repeat: no-repeat;
  width: 20px;
  height: 46px;
}

section.search form input[type=text] {
  position: relative;
  width: 100%;
  z-index: 0;
  padding: 0 10px;
  height: 43px;
}

section.navigation {
  width: 220px;
  flex: 0 1 auto;
  padding-right: 40px;
}

section.navigation ul li > ul {
  display: none;
}

section.navigation ul li.selected {
  border: none;
}

section.navigation ul li.selected > ul {
  display: block;
}

section.navigation ul li.header > a:first-of-type {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

section.navigation ul li.selected > a:first-of-type {
  padding: 5px 10px;
  border-radius: 3px;
  position: relative;
  left: -10px;
  color: #fff;
  background-color: #01D277;
  margin-bottom: 14px;
}

div.movie section.navigation ul li.selected > a:first-of-type {
  background-color: #F82251;
}

div.tv section.navigation ul li.selected > a:first-of-type {
  background-color: #865BFD;
}

div.people section.navigation ul li.selected > a:first-of-type {
  background-color: #0084EA;
}

div.collection section.navigation ul li.selected > a:first-of-type {
  background-color: #F5A623;
}

section.navigation ul li.selected ul li {
  margin-bottom: 14px;
}

section.navigation ul li.selected ul li:last-child {
  margin-bottom: 24px;
}

section.main_content {
  max-width: 1000px;
  width: calc(100vw - 220px - 80px);
  flex: 0 1 auto;
}

section.main_content h2 {
  font-size: 2.2em;
  margin: 0;
}

section.main_content section {
  margin-top: 30px;
}

section.main_content section:last-of-type {
  margin-bottom: 30px;
}

section.main_content section h3 {
  font-size: 1.4em;
  font-weight: 600;
  border-bottom: 1px solid #979797;
  padding-bottom: 4px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

section.main_content section h3 a {
  font-size: 1em;
  font-weight: 600;
  color: #000 !important;
}

section.main_content section h3 a.edit {
  color: #ccc !important;
  padding-top: 0;
  padding-left: 20px;
  text-transform: lowercase;
}

section.main_content section p, section.main_content section ul li, section.main_content section ol li {
  color: #333;
  line-height: 1.4;
}

section.main_content section ul {
  list-style-type: disc;
  padding-left: 40px;
}

section.main_content section ul + p {
  padding-top: 30px;
}

section.main_content section p:last-child {
  margin: 0;
}

section.main_content section code {
  background-color: transparent;
}

section.main_content section div.note {
  margin: 30px 0;
  padding: 0 50px 0 70px;
  display: flex;
  background-repeat: no-repeat;
  background-image: url('../static_cache/v5/1f4dd-b5ce079346391eb6ec76a073940d1495f46c2336f9417e4f7fbb09109b59e8f9.svg');
  background-position: 40px 0;
  background-size: 30px 30px;
}

section.main_content section div.note.tip {
  background-image: url('../static_cache/v5/2728-6b37fa65fd0b9b3cf8887d886961c7103b2770c7b40d9d73ed4a760faecae819.svg');
}

section.main_content section div.note div {
  padding-left: 14px;
  padding-top: 6px;
}

section.main_content section a, section.main_content section div.note * {
  color: rgba(var(--tmdbLightBlue), 1);
}

div.movie section.main_content section a, div.movie section.main_content section div.note * {
  color: #F82251;
}

div.tv section.main_content section a, div.tv section.main_content section div.note * {
  color: #865BFD;
}

div.people section.main_content section a, div.people section.main_content section div.note * {
  color: #0084EA;
}

div.collection section.main_content section a, div.collection section.main_content section div.note * {
  color: #F5A623;
}

section.main_content section div.note h3 {
  text-transform: uppercase;
  font-size: 1em;
  border-bottom: none;
  padding: 0;
  margin: 0;
  font-weight: 700;
}

div.blocks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1000px;
  margin-top: 20px;
}

div.blocks a {
  display: block;
  box-sizing: border-box;
  width: 33.33%;
  height: 145px;
  padding: 0 10px;
  margin-bottom: 20px;
}

div.blocks a:first-child {
  padding-left: 0;
}

div.blocks a:nth-child(4n+4) {
  padding-left: 0;
}

div.blocks a:nth-child(3n) {
  padding-right: 0;
}

div.blocks div.media_blocks {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  padding: 30px 25px;
  box-sizing: border-box;
  transition: all 0.5s;
  background-color: rgba(var(--tmdbDarkBlue), 1);
}

div.blocks div.media_blocks:hover {
  transform: scale(1.06);
  box-shadow: 0 20px 40px 8px rgba(0, 0, 0, 0.6);
}

div.blocks div.movie.media_blocks {
  background-color: #241828;
}

div.blocks div.tv.media_blocks {
  background-color: #20153B;
}

div.blocks div.people.media_blocks {
  background-color: #011F2B;
}

div.blocks div.collection.media_blocks {
  background-color: #383823;
}

div.blocks div.media_blocks h2 {
  width: 100%;
  margin: 0;
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
}

div.blocks div.media_blocks span {
  width: 50px;
  height: 3px;
  display: block;
  border-radius: 3px;
  margin: 8px 0;
}

div.blocks div.media_blocks span, ul.search_results li span {
  background-color: #01D277;
}

div.blocks div.media_blocks.movie span, ul.search_results li.movie span {
  background-color: #F82251;
}

div.blocks div.media_blocks.tv span, ul.search_results li.tv span {
  background-color: #865BFD;
}

div.blocks div.media_blocks.people span, ul.search_results li.people span {
  background-color: #0084EA;
}

div.blocks div.media_blocks.collection span, ul.search_results li.collection span {
  background-color: #F5A623;
}

ul.search_results {
  width: 100%;
}

ul.search_results li {
  display: flex;
  align-items: center;
  align-content: center;
  margin-bottom: 10px;
}

ul.search_results li:last-child {
  margin-bottom: 0;
}

ul.search_results li span {
  min-width: 110px;
  padding: 3px 6px 4px 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 4px;
  margin-right: 20px;
}

ul.search_results li span a {
  color: #fff;
  font-weight: 600;
  font-size: 0.9em;
}

ul.search_results li a.section {
  color: #000;
}

ul.search_results li svg {
  transform: rotate(180deg);
  margin: 0 6px;
  position: relative;
  top: 2px;
}

ul.search_results li svg path {
  fill: rgba(0,0,0,0.3);
}
































