h2 {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

p.title {
  font-size: 0.9em;
}

span.time {
  float: right;
}

section#histogram {
  width: 100%;
  height: 240px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

div.card {
  margin-top: 20px;
  padding: 20px;
}

table.leaderboard {
  width: auto;
  margin-bottom: 0;
  margin: 0 auto;
}

table.leaderboard tbody {
  border-bottom: none;
}

table.leaderboard td.position {
  padding-right: 10px;
}

table.leaderboard td h3, table.leaderboard td p {
  padding: 0;
  margin: 0;
}

table.leaderboard td h3 a {
  font-weight: 600;
}

table.leaderboard span.details {
  display: inline-block;
}
